<!DOCTYPE html>
<html>
    <link rel="shortcut icon" href="/images/favicon.ico" />

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CUSTOM STYLESHEET -->
    <link href="css/custom.css" rel="stylesheet">

    <title>NBA Sentiment</title>

    <!-- NAVBAR -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="col">
                <a href="#team-target" type="button" class="btn btn-default btn-outline-primary" style="color:white">Teams</a>
                <a href="#tweet-target" type="button" class="btn btn-default btn-outline-primary" style="color:white">Tweets</a>
                <a href="#sent-target" type="button" class="btn btn-default btn-outline-primary" style="color:white">Sentiment</a>
            </div>
            <div class="col"></div>
            <div class="col">
                <a href="api" type="button" class="btn btn-default btn-outline-primary" style="color:white; float: right;">API Documentation</a>
            </div>
        </div>
    </nav>

    <!-- JUMBOTRON COMPONENT -->
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col"></div>
                <div class="col-5">
                    <h1 class="text-white">NBA Twitter Sentiment</h1>
                    <p class="text-white">Welcome! Our group has collected tweets for the 2017/18 season to see if there is a correlation between tweet sentiment and the league champions! Does having a higher sentiment show results? Take a look below!</p>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>

    <!-- MAIN BODY -->
    <body style="background-color:black; font-family: 'Questrial', sans-serif">
        <div class="top-buffer">
            <div class="container-fluid">
                <div class="row text-secondary">
                    <!-- WEST CONF TILES -->
                    <div class="col" id="team-target">
                        <h5 class="text-center">WESTERN CONFERENCE</h5>
                        <div class="col" align="center">
                            <!-- first two teams of western conference -->
                            <div class="row">

                                <!-- WEST TEAM 1 -->
                                <div class="col">
                                    <div id="inner-west1">
                                    </div>

                                </div>

                                <!-- WEST TEAM 2 -->
                                <div class="col">
                                    <div id="inner-west2">
                                    </div>
                                </div>
                            </div>

                            <!-- last two teams of western conference -->
                            <div class="row">
                                <!-- WEST TEAM 3 -->
                                <div class="col">
                                    <div id="inner-west3">
                                    </div>
                                </div>

                                <!-- WEST TEAM 4 -->
                                <div class="col">
                                    <div id="inner-west4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- EAST CONF TILES -->
                    <div class="col">
                        <h5 class="text-secondary text-center">EASTERN CONFERENCE</h5>
                        <div class="col" align="center">
                            <!-- first two teams of western conference -->
                            <div class="row">

                                <!-- EAST TEAM 1 -->
                                <div class="col">
                                    <div id="inner-east1">
                                    </div>
                                </div>

                                <!-- EAST TEAM 2 -->
                                <div class="col">
                                    <div id="inner-east2">
                                    </div>
                                </div>
                            </div>

                            <!-- last two teams of western conference -->
                            <div class="row">

                                <!-- EAST TEAM 3 -->
                                <div class="col">
                                    <div id="inner-east3">
                                    </div>
                                </div>

                                <!-- EAST TEAM 4 -->
                                <div class="col">
                                    <div id="inner-east4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SCHEDULE AND TWEET STREAM PANELS -->
                <br>
                <div class="row top-buffer bottom-buffer">
                    <!-- GAME SCHEDULE -->
                    <div class="col-5">
                        <h5 class="text-center text-secondary">SCHEDULE</h5>
                        <div class="panel">
                            <table class="table div-sched" id="inner-sched">
                                <tr>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Home</th>
                                    <th>Visitor</th>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="col"></div>

                    <!-- TWEET STREAM -->
                    <div class="col-6" id="tweet-target">
                        <div class="panel panel-info">
                            <h5 class="text-center text-secondary">TWITTER STREAM</h5>
                            <a class="twitter-timeline" data-lang="en" data-height="400" data-theme="dark" href="https://twitter.com/cpsc462/lists/nba-tweets?ref_src=twsrc%5Etfw">A Twitter List by cpsc462</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            <div class="panel-body pre-scrollable">
                                <div id="inner-tweet">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SENTIMENT CHART -->
                <h5 class="text-center text-secondary" id="sent-target">SENTIMENT</h5>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-10">
                        <div id="chart-div">
                        </div>
                    </div>
                    <div class="col"></div>
                </div>

            </div>
        </div>
        <div class="bottom-buffer"></div>

        <div class="modal fade" id="teamDialogBox" tabindex="-1" role="dialog" >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <div id="modal-teamLogo"></div>
                </div>
                <div class="modal-body">
                    <table id="teamInfo" class="table">
                        <thead>
                           <tr>
                              <th scope="col">No</th>
                              <th scope="col">Name</th>
                              <th scope="col">Position</th>
                              <th scope="col">Height</th>
                              <th scope="col">Weight</th>
                           </tr>
                        </thead>
                        <tbody></tbody>
                </div>
              </div>
            </div>
          </div>
    </body>

    <!-- REQUIRED JS FOR BOOTSTRAP COMPONENTS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- REQUIRED JS FOR AMCHARTS -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

    <!-- FONT IMPORT -->
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

    <!-- CUSTOM JS SCRIPT IMPORTS -->
    <script src="js/landing.js" type="text/javascript"></script>
</html>