<!DOCTYPE HTML>
<html>
   <head>
      <title>PredictNBA</title>
      <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="Basketball Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
      <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
      <link href="css/bootstrap-3.1.1.min.css" rel="stylesheet" type="text/css">
      <!-- Custom Theme files -->
      <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all" />
      <link href="css/style.css" rel='stylesheet' type='text/css' />
      <script src="js/responsiveslides.min.js"></script>
      <script src="js/jquery.min.js"> </script>
      <script type="text/javascript" src="js/move-top.js"></script>
      <script type="text/javascript" src="js/easing.js"></script>
      <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
      <script src="js/owl.carousel.js"></script>
      <script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
	  <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script-->
      <!--/script-->
   </head>
   <body onload="scheduleFunction('http://localhost:5000/api/schedule','tab-1');">
      <div class="container">
         <div class="header" id="home">
            <div class="subhead white">
               <nav class="navbar navbar-default" role="navigation">
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" href="index.html">
                        <h1><img src="images/nba-logo.png">NBA<span>Predictor</span></h1>
                     </a>
                  </div>
                  <!--/.navbar-header-->
                  <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                     <ul class="nav navbar-nav">
                        <li>
                           <a href="index.html">
                              <h4>Home</h4>
                           </a>
                        </li>
                        <li>
                           <a href="#about">
                              <h4>About</h4>
                           </a>
                        </li>
                        <li>
                           <a href="teams.html">
                              <h4>Teams</h4>
                           </a>
                        </li>
                        <li>
                           <a href="standings.html">
                              <h4>Standings</h4>
                           </a>
                        </li>
                        <li>
                           <a href="stats.html">
                              <h4>Stats</h4>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <!--/.navbar-collapse-->
                  <!--/.navbar-->
               </nav>
            </div>
         </div>
         <!--/start-banner-->
         <div class="banner">
            <div class="banner-inner">
               <div class="el-1">
                  <h3>Eastern Conference</h3>
                  </br>
                  <div id="e1-111" class="el-111" onclick="popupFunction('http://localhost:5000/api/tor/roster','e1-11')">
                     <!--popup container for team el-111-->
                     <a href="#myModal-11" role="button" data-toggle="modal"><img src="images/raptors.png"></a>
                     <div id="myModal-11" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                           <!-- Modal content-->
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <h4 class="modal-title">TORONTO RAPTORS</h4>
                              </div>
                              <div class="modal-body">
                                 <table class="table">
                                    <thead class="thead-inverse">
                                    <thead>
                                       <tr>
                                          <th scope="col">No</th>
                                          <th scope="col">Name</th>
                                          <th scope="col">Position</th>
                                          <th scope="col">Height</th>
                                          <th scope="col">Weight</th>
                                       </tr>
                                    </thead>
                                    <tbody id="e1-11">
                                       <!--api call-->
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="el-112" onclick="popupFunction('http://localhost:5000/api/bos/roster','e1-12')">
                     <!--popup container for team el-112-->
                     <a href="#myModal-12" role="button" data-toggle="modal"><img src="images/celtics.png"></a>
                     <div id="myModal-12" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                           <!-- Modal content-->
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <h4 class="modal-title">BOSTON CELTICS</h4>
                              </div>
                              <div class="modal-body">
                                 <table class="table">
                                    <thead class="thead-inverse">
                                    <thead>
                                       <tr>
                                          <th scope="col">No</th>
                                          <th scope="col">Name</th>
                                          <th scope="col">Position</th>
                                          <th scope="col">Height</th>
                                          <th scope="col">Weight</th>
                                       </tr>
                                    </thead>
                                    <tbody id="e1-12">
                                       <!--api call-->
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="el-113" onclick="popupFunction('http://localhost:5000/api/ind/roster','e1-13')">
                     <!--popup container for team el-113-->
                     <a href="#myModal-13" role="button" data-toggle="modal"><img src="images/indiana.png"></a>
                     <div id="myModal-13" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                           <!-- Modal content-->
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <h4 class="modal-title">INDIANA PACERS</h4>
                              </div>
                              <div class="modal-body">
                                 <table class="table">
                                    <thead class="thead-inverse">
                                    <thead>
                                       <tr>
                                          <th scope="col">No</th>
                                          <th scope="col">Name</th>
                                          <th scope="col">Position</th>
                                          <th scope="col">Height</th>
                                          <th scope="col">Weight</th>
                                       </tr>
                                    </thead>
                                    <tbody id="e1-13">
                                       <!--api call-->
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="el-114" onclick="popupFunction('http://localhost:5000/api/cle/roster','e1-14')">
                     <!--popup container for team el-114-->
                     <a href="#myModal-14" role="button" data-toggle="modal"><img src="images/cavaliers.png"></a>
                     <div id="myModal-14" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                           <!-- Modal content-->
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <h4 class="modal-title14">CLEVELAND CAVALIERS</h4>
                              </div>
                              <div class="modal-body">
                                 <table class="table">
                                    <thead class="thead-inverse">
                                    <thead>
                                       <tr>
                                          <th scope="col">No</th>
                                          <th scope="col">Name</th>
                                          <th scope="col">Position</th>
                                          <th scope="col">Height</th>
                                          <th scope="col">Weight</th>
                                       </tr>
                                    </thead>
                                    <tbody id="e1-14">
                                       <!--api call-->
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="el-2">
                  <h3>Western Conference</h3>
                  </br>
                  <div class="el-111" onclick="popupFunction('http://localhost:5000/api/hou/roster','e1-21')">
                     <!--popup container for team el-111-->
                     <a href="#myModal-21" role="button" data-toggle="modal"><img src="images/rockets.png"></a>
                     <div id="myModal-21" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                           <!-- Modal content-->
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <h4 class="modal-title">HOUSTON ROCKETS</h4>
                              </div>
                              <div class="modal-body">
                                 <table class="table">
                                    <thead class="thead-inverse">
                                    <thead>
                                       <tr>
                                          <th scope="col">No</th>
                                          <th scope="col">Name</th>
                                          <th scope="col">Position</th>
                                          <th scope="col">Height</th>
                                          <th scope="col">Weight</th>
                                       </tr>
                                    </thead>
                                    <tbody id="e1-21">
                                       <!--api call-->
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="el-112" onclick="popupFunction('http://localhost:5000/api/gsw/roster','e1-22')">
                     <!--popup container for team el-112-->
                     <a href="#myModal-22" role="button" data-toggle="modal"><img src="images/goldenstate.png"></a>
                     <div id="myModal-22" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                           <!-- Modal content-->
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <h4 class="modal-title">GOLDEN STATE WARRIORS</h4>
                              </div>
                              <div class="modal-body">
                                 <table class="table">
                                    <thead class="thead-inverse">
                                    <thead>
                                       <tr>
                                          <th scope="col">No</th>
                                          <th scope="col">Name</th>
                                          <th scope="col">Position</th>
                                          <th scope="col">Height</th>
                                          <th scope="col">Weight</th>
                                       </tr>
                                    </thead>
                                    <tbody id="e1-22">
                                       <!--api call-->
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="el-113" onclick="popupFunction('http://localhost:5000/api/por/roster','e1-23')">
                     <!--popup container for team el-113-->
                     <a href="#myModal-23" role="button" data-toggle="modal"><img src="images/portland.png"></a>
                     <div id="myModal-23" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                           <!-- Modal content-->
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <h4 class="modal-title">PORTLAND TRAIL BLAZERS</h4>
                              </div>
                              <div class="modal-body">
                                 <table class="table">
                                    <thead class="thead-inverse">
                                    <thead>
                                       <tr>
                                          <th scope="col">No</th>
                                          <th scope="col">Name</th>
                                          <th scope="col">Position</th>
                                          <th scope="col">Height</th>
                                          <th scope="col">Weight</th>
                                       </tr>
                                    </thead>
                                    <tbody id="e1-23">
                                       <!--api call-->
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="el-114" onclick="popupFunction('http://localhost:5000/api/sas/roster','e1-24')">
                     <!--popup container for team el-114-->
                     <a href="#myModal-24" role="button" data-toggle="modal"><img src="images/sas.png"></a>
                     <div id="myModal-24" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                           <!-- Modal content-->
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
                                 <h4 class="modal-title">SAN ANTONIO</h4>
                              </div>
                              <div class="modal-body">
                                 <table class="table">
                                    <thead class="thead-inverse">
                                    <thead>
                                       <tr>
                                          <th scope="col">No</th>
                                          <th scope="col">Name</th>
                                          <th scope="col">Position</th>
                                          <th scope="col">Height</th>
                                          <th scope="col">Weight</th>
                                       </tr>
                                    </thead>
                                    <tbody id="e1-24">
                                       <!--api call-->
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--//end-banner-->
         <!--/start-main-->
         <div class="main-content">
            <!--/soccer-inner-->
            <div class="soccer-inner">
               <!--/soccer-left-part-->
               <div class="col-md-8 soccer-left-part">
                  <!--/about-->
                  <div class="about" id="about">
                     <h3 class="tittle">About</h3>
                     <div class="sap_tabs">
                        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                           <ul class="resp-tabs-list">
                              <li class="resp-tab-item grid1" aria-controls="tab_item-0" role="tab" ><span>SCHEDULE</span></li>
                              <li class="resp-tab-item grid2" aria-controls="tab_item-1" role="tab" onclick="tabFunction('http://localhost:5000/api/record/east','tab-2')"><span>LEAGUE TABLE : EASTERN CONFERENCE</span></li>
                              <li class="resp-tab-item grid3" aria-controls="tab_item-1" role="tab" onclick="tabFunction('http://localhost:5000/api/record/west','tab-3')"><span>LEAGUE TABLE : WESTERN CONFERENCE</span></li>
                           </ul>
                           <div class="resp-tabs-container">
                              <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                 <div class="facts">
                                    <div class="tab_list">
                                       <table>
                                          <thead>
                                             <tr>
                                                <th>Date | Time</th>
                                                <th>Home_Team</th>
                                                <th>Score</th>
                                                <th>Visitor_Team</th>
                                                <th>Score</th>
                                             </tr>
                                          </thead>
                                          <tbody id="tab-1">
                                             <!--api call for schedule-->
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                              <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1" >
                                 <div class="facts">
                                    <div class="tab_list">
                                       <table>
                                          <thead>
                                             <tr>
                                                <th>Team</th>
                                                <th>Win</th>
                                                <th>Loss</th>
                                                <th>Win%</th>
                                             </tr>
                                          </thead>
                                          <tbody  id="tab-2">
                                             <!--api call for east-->
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                              <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
                                 <div class="facts">
                                    <div class="tab_list">
                                       <table>
                                          <thead>
                                             <tr>
                                                <th>Team</th>
                                                <th>Win</th>
                                                <th>Loss</th>
                                                <th>Win%</th>
                                             </tr>
                                          </thead>
                                          <tbody id="tab-3">
                                             <!--api call for west-->
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--//about-->
               </div>
               <!--//soccer-left-part-->
               <!--/soccer-right-part-->
               <div class="col-md-4 soccer-right-part">
                  <!--//accordation_menu-->
                  <div class="list_vertical">
                     <section class="accordation_menu">
                        <input id="label-2" name="lida" type="radio" checked="">
                        <label for="label-2" id="item2"><i class="icon-leaf" id="i2"></i>Recent Tweets<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                        <div class="content" id="a2">
                           <div class="scrollbar" id="style-2">
                              <a class="twitter-timeline" href="https://twitter.com/NBA?ref_src=twsrc%5Etfw">Tweets by NBA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                           </div>
                        </div>
                  </div>
                  </section>
               </div>
               <!--//accordation_menu-->
               <!--//connect-->
            </div>
            <!--//soccer-right-part-->
            <div class="clearfix"> </div>
         </div>
      </div>
      <!--//soccer-inner-->
      </div>
      <!--/start-footer-section-->
      <div class="footer-section">
         <div class="container">
            <div class="footer-grids">
               <div class="clearfix"></div>
            </div>
         </div>
      </div>
      <!--//end-footer-section-->
      <!--/start-copyright-section-->
      <div class="copyright">
         <p>&copy; 2018 NBALeague. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
      </div>
      <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
   </body>
</html>